/**********************************
 * Layout 
 **********************************/
.wInput{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline-width: 0px;
}

/**********************************
 * Theme - Classic
 **********************************/
.wInput-theme-classic.wInput {
    border: solid #CCC 1px;
    color: #555;
    font-size: 12px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.wInput-theme-classic.wInput-hover,
.wInput-theme-classic.wInput-active {
    border-color: rgb(82, 168, 236);
    border-color: rgba(82, 168, 236, 0.8);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.wInput-theme-classic::-webkit-input-placeholder { color: #ACACAC; }
.wInput-theme-classic:-moz-placeholder { color: #ACACAC; }
.wInput-theme-classic::-moz-placeholder { color: #ACACAC; }
.wInput-theme-classic:-ms-input-placeholder { color: #ACACAC; }
.wInput-theme-classic.wInput-placeholder { color: #ACACAC; }

.wInput-theme-classic.wInput-input {
    width: 250px;
    height: 20px;
    line-height: 20px;
}
.wInput-theme-classic.wInput-textarea {
    width: 400px;
    height: 200px;
    line-height: 16px;
}

/***********************************
 * Labels
 ***********************************/
.wLabel-top,
.wLabel-left,
.wLabel-left-top {
    vertical-align: middle;
    font-size: 10px;
    line-height: 16px;
    color: #999;
    display: block;
    margin: 5px 0 3px 3px;
}
.wLabel-left-top {
    vertical-align: top;
}
@media screen and (min-width: 600px) {
    .wLabel-left,
    .wLabel-left-top {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 70px;
        text-align: right;
        margin: 0 0 7px 0;
    }
}